<h1>Grade</h1>

  <h3>Remark: <%= @grade.remark %></h3>
  <h3>Grade: <%= @grade.value_to_text %></h3>
  <h3>Date: <%= @grade.date %></h3>

  <%if current_user.id == @grade.user_id %>
    <%= link_to "update", edit_group_student_grade_path(@group.id, @student.id, @grade.id) %>

  <% end %>
