

<h2><%= @student.name%></h2>
<br />
<%= image_tag @student.photo%>


<% canEval=true %>

<% @grades.each do |grade| %>

<%if grade.created_at.to_date == Date.today && grade.user_id == current_user.id %>
  <% canEval=false %>
<%end%>

<%grade.value_to_text%>
<%= link_to grade.value_to_text, group_student_grade_path(@group.id, @student.id, grade.id) %>

<%end%>

<br />
<br />
<%if canEval %>
<div><%= render 'shared/addingEditingGrades' %></div>
<%end%>
