<h1>Groups</h1>

<% @groups.each do |group| %>
<div>
  <%= link_to ("Batch " + group.name), group_path(group.id) %>
  Starts at:  <%=  group.start_date %>
  Ends at:  <%= group.end_date %>
  <br />
  <br />
</div>

<% end %>

<%= render 'shared/form' %>
